{% extends '_.html' %}

{% block _body %}
<div class="card-body">
    <div class="row align-items-center">
        <div class="col-auto">

        </div>
        <div class="col">
            <div class="font-weight-medium">
                <h2>{{saludo1}}</h2>
            </div>
            <div class="text-muted">
                {{saludo2}}
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <br>

</div>
<div class="col-md-12"> <br>
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Cercanas y disponibles </h3>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        {% for x in c %}

                        <div class="col-6">
                            <a href="">
                                <div class="row g-3 align-items-center">
                                    <a href="/canchas/{{x.id}}" class="col-auto">
                                        <span class="avatar avatar-lg avatar-"
                                            style="background-image: url(/assets/media/{{x.imagen}})">
                                    </a>
                                    <div class="col text-truncate">

                                        <a href="/canchas/{{x.id}}" class=" text-reset d-block text-truncate">
                                            <br>{{x.cat.tipo.emoji}} {{x.nombre}}</a>
                                        <div class="text-muted text-truncate mt-n1">{{x.d}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock _body %}